body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #0a1f24;
    background-color: #f0f1d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.content-nav {
    height: auto;
    background-color: #DAB0A2;
    border-bottom: 1px solid rgb(95, 33, 97);
    display: flex;
    height: auto;
    width: inherit;
    
}

.content-nav li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 12px;
}

.content-nav li a{
    padding: 10px;
    font-size: 27px;
    display: contents;
    text-align: center;
}

.content-nav li a:hover {
    color: #0a1f24;
}

.content-nav li a:active {
    color: #F2A74B;
}

.click-icon{
    display: inline-flex;
    font-size: 27px;
    opacity: 0;
    
}

.click-icon:active {
    display: inline-flex;
    font-size: 27px;
    opacity: 1;
}

.vovo {
    border-radius: 50%;
    margin-left: 20px;
    width: 120px;
    height: 120px;
}



h1, h3 {
    font-family: 'Courier New', Courier, monospace"
}

.titulo {
    display: flex;
    flex-flow: column;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.social-links {

}

.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.container {
    padding: 5px 7% 10px 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    background-color: #B6DADE;
}

.video {
    background-color: #f0f1d8;
    height: auto;
    width: 99%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.video iframe {
    display: flex;
    width: 100%;
}

/* Contato */
.msg-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    align-content: flex-start;
    width: 99%;
}

.msg-form form{
    display: block;
    background-color: #90C1C7;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
}

.msg-form form input {
    width: 80%;
}

.msg-form form textarea {
    width: 90%;
    height: 190px;
}

.msg-form fieldset {
    padding: 30px;
    width: 80%;
}

.msg-form legend {
    padding: 8px;
}

.msg-form button {
    display: block;
    margin: auto;
    width: 30%;
    height: 40px;
}

.developer-sign {
    display: flex;
    height: 50px;
    border-top: 1px solid #0a1f24;
    align-items: center;
    justify-content: center;
    background-color: #f0f1d8;
    color: color #0a1f24;
}
